/* Header.css */
body {
    margin: 0px;
}

.bigDiv {
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 35px;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
}

li {
    text-align: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.color1 {
    background-color: orange;
}

.color4 {
    background-color: rgb(37, 187, 221);
}

hr {
    margin: 0;
    border: 1px solid #ddd;
}