body {
    background-color: rgb(232, 240, 246);
    margin: 0px;
}
.title {
  font-size: 37px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(129, 168, 202);
}
.serchBar {
  width: 500px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex1 {
  display: flex;
  gap: 300px;
  justify-content: space-around
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}